body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    width: 1500px;
    background-color: white;
    margin: auto;
    padding: 35px 0 0 35px;
    overflow-x: hidden;
}

.description h2,
h1 {
    margin-top: 10px;
}

 .dashboard_caption{
    margin-bottom: 50px;
 }

.choropleth_description {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    padding: 20px;
    margin-right: 20px;
    background-color:  #f8fdff;
}

.selfharm_container {     
    margin: 80px 0 10px 80px;
}
.disparities_container {
    margin: 40px 0 5px 0;

  

}

.disparities_title{
    margin: 40px 0 0 0;
}

.disparity_description{
    margin : 10px 0 50px 0;
}

.indigenous_disparity_chart {
 background-color:  #f8fdff;
}

.socioeconomic_disparity_chart {
  background-color:  #f8fdff;
}
#choropleth_map {
    border-radius: 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    padding: 10px 30px 25px 30px;
    background-color: #f8fdff; 
}
#selfharm_hospitalisation {
    border-radius: 20px;    
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    padding: 10px 30px 25px 25px;
    background-color: #f8fdff; 
}   
#suicide_rank_state {
    border-radius: 20px;    
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    padding: 10px 30px 30px 30px;
    background-color: #f8fdff; 
}

#slider-container {
    width: 700px;
    margin-top: -20px;
    margin-bottom: 30px;
}